$main-color: #337AF6;
$background-color: #F3F5F8;
$header-color: $main-color;
$default-text-color: #4D5561;

$label-green-bg: #DBF1DD;
$label-green: #5D985D;

$label-yellow-bg: #F0F1DB;
$label-yellow: #98985D; 

$label-blue-bg: #DBE8F1;
$label-blue: #5D7E98;

$label-red-bg: #F1DBDB;
$label-red: #985D5D;

$text-primary: #5755d9;
$text-primary-hover: #4240d4;

$text-secondary: #e5e5f9;
$text-secondary-hover: #d1d0f4;

$text-gray: #acb3c2;
$text-gray-hover: #9ea6b7;

$text-light: #fff;
$text-light-hover: #f2f2f2;

$text-success: #32b643;
$text-success-hover: #2da23c;

$text-warning: #ffb700;
$text-warning-hover: #e6a500;

$text-error: #e85600;
$text-error-hover: #cf4d00;

$bg-primary: $text-primary;
$bg-secondary: #f1f1fc;
$bg-dark: #454d5d;
$bg-gray: #f8f9fa;
$bg-success: $text-success;
$bg-warning: $text-warning;
$bg-error: $text-error;

body {
    font-size: 16px;
}

// headers
header {
    background: $bg-primary;
    height: 60px;

    .container {
        text-align: center;
        #logo {
            margin-top:10px;
            width:40px;
            height:40px;
        }
    }
}

#body {
    margin-top: 20px;
}

#resource_list {
    .resource {
        margin-top: 20px;
    }
}

footer {
    .container {
        padding: 10px 0 60px 0;
        text-align: center;
        font-size: 12px;
        #whoiam {
            color: lighten($default-text-color, 40);
            a {
                color: lighten($default-text-color, 40);
                img {
                    width: 20px;
                    height: 16px;
                }
            }
        }
    }
}

#create-action-form {
    padding-top:20px;
    button {
        cursor: pointer;
    }
    .form-label {
        color: lighten($default-text-color, 30);
        font-weight: 400;
    }
    input[type=text].form-control {
        border: none;
        border-bottom: 1px solid lighten($default-text-color, 50);
        border-radius: 0;
    }
}

#view-action-dialog {
    margin-top:8px;
    padding: 0 15px;
    .view-header {
        span.method-label {
            font-size: 14px;
            padding: 3px 8px;
            height: 30px;
        }
    }
    .view-name {
        margin-top:12px;
        h4 {
            display:inline-block;
            font-size: 20px;
            color: $default-text-color;
        }
        span.url {
            font-size: 14px;
            color: lighten($default-text-color, 20);
            margin-left: 10px;
        }
        .btn {
            display: inline-block;
            margin-left: 10px;
            margin-top: -1px;
            font-size: 12px;
            height: 30px;
            &:focus {
                box-shadow:none;
            }
            i {
                margin-right: 7px;
            }
        }
    }
    .view-body {
        margin-top: 20px;
        span.content-type {
            display:inline-block;
            padding: 2px 10px 3px 10px;
            background: #ECEEF1;
            color: #878E95;
            font-size: 14px;
        }
    }
    .content {
        pre {
            width: 100%;
            background: #f8f8f8;
            margin: 0px;
        }
    }
    .alert-info {
        font-size: 14px;
        padding: 5px 10px;
    }
}

/* components */
.btn {
    cursor: pointer;
}

.method-label {
    display: inline-block;
    font-size: 11px;
    padding: 2px 5px;
    margin:0;
    border-radius: 3px;
    text-align: center;

    &.method-label-get {
        color: $label-green;
        background: $label-green-bg;
    }

    &.method-label-post {
        color: $label-yellow;
        background: $label-yellow-bg;
    }

    &.method-label-put {
        color: $label-blue;
        background: $label-blue-bg;
    }

    &.method-label-delete {
        color: $label-red;
        background: $label-red-bg;
    }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #fff;
}