$main-color: #337AF6;
$background-color: #F3F5F8;
$header-color: #fff;
$default-text-color: #4D5561;

$label-green-bg: #DBF1DD;
$label-green: #5D985D;

$label-yellow-bg: #F0F1DB;
$label-yellow: #98985D; 

$label-blue-bg: #DBE8F1;
$label-blue: #5D7E98;

$label-red-bg: #F1DBDB;
$label-red: #985D5D;

body {
    font-size: 16px;
    background: $background-color;
    color: $default-text-color;
}

// headers
header {
    background: $header-color;
    height: 80px;
    box-shadow: 0 2px 4px #EDEFF2;

    .container {
        text-align: center;
        #logo {
            margin-top: 28px;
            width: 63px;
            height: 21px;
        }
    }
}

#body {
    .tools {
        margin-top: 30px;
        #new-button {
            display: inline-block;
            a {
                display: inline-block;
                background: $main-color;
                padding: 15px;
                box-shadow: 0 1px 8px #2D6BD7;

                img {
                    width: 15px;
                    height: 15px;
                }
            }
            h4 {
                display: inline-block;
                margin-left: 20px;
                font-size: 20px;
            }
        }

        #total-responses {
            float: right;
            font-size: 12px;
            margin-top: 15px;
            color: #A6A9AE;
        }
    }
    #responses {
        margin-top: 30px;
        background: #fff;
        border: 1px solid #D9DCE3;
        box-shadow: 0 1px 5px #E0E2EA;

        .method-label {
            display: inline-block;
            font-size: 14px;
            width: 70px;
            height: 35px;
            padding-top: 6px;
            text-align: center;

            &.method-label-get {
                color: $label-green;
                background: $label-green-bg;
            }

            &.method-label-post {
                color: $label-yellow;
                background: $label-yellow-bg;
            }

            &.method-label-put {
                color: $label-blue;
                background: $label-blue-bg;
            }

            &.method-label-delete {
                color: $label-red;
                background: $label-red-bg;
            }
        }

        .response-item {
            display:block;
            padding: 10px 18px 9px 11px;
            border-top: 1px solid #D9DCE3;
            color: $default-text-color;

            &:first-child {
                border-top: none;
            }
            &:hover {
                text-decoration: none;
                background: #F6F7F8;
            }
            h4 {
                display: inline-block;
                font-size: 16px;
                font-weight: normal;
                margin-left: 10px;
            }
            span.url {
                float: right;
                color: $main-color;
                font-size: 12px;
                margin-top: 7px;
            }
        }
    }
}