{% load staticfiles compress %}
<html>
    <head>
        <title>Motty - Modern web tools that create fake responses.</title>
        <link rel="stylesheet" type="text/css" href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}" />
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static '/styles/main.scss' %}" />
        {% endcompress %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        Hello, World
    </body>
</html>